/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.errorMessages {
    list-style-type: disc;
    margin: 0 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* Set a style for all buttons */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
     
.loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginbutton:hover {
    opacity: 0.8;
}

.fa-gift{
	float: right;
}

.fa-check{
	float:right;
	color:green;
}

.fa-plus-circle{
	float:right;
	color:green;
}

.fa-plus{
	float:right;
	color:green;
}

.fa-times{
	float: right;
	color: red;
}

.fa-plus-circle:hover{
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.fa-plus:hover{
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.fa-check:hover{
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.fa-times:hover{
	background: rgba(255,255,255,1);
	color: #bb5d64;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

p{
margin : 0px;	
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

#main-container{
    position: relative;
}
#test{
    position: relative;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#modal-select{
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%;
}
#id03{
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: -50px;
    color: #000;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}

.library{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}